<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <div class="title">
      <h1>Elza Soares</h1>
    </div>
    <div class="about-person">
      <p>
        Elza Soares da Conceição (1930-2022) foi uma cantora e compositora
        brasileira. Um dos maiores nomes da MPB, Elza recebeu ano 2000, em
        Londres, o título de "A Melhor Cantora do Universo" dado pela emissora
        BBC. Famosa pela voz rouca, Elza Soares foi um dos maiores nomes da
        música popular brasileira. Sua história de vida conta com tragédias e
        reviravoltas memoráveis.
      </p>

      <h3>Infância</h3>

      <p>Elza Soares nasceu no subúrbio do Rio de Janeiro (em uma favela onde hoje está situada a Vila Vintém), no dia 20 de janeiro de 1930. Seu pai, Avelino Gomes era operário e sua mãe Rosaria Maria da Conceição, era lavadeira. 

        A menina começou a cantar com o pai, que gostava de tocar violão nas horas vagas.
        
        Elza teve uma infância dura e subitamente interrompida pelo casamento. O pai de Elza obrigou a menina a se casar quando ela tinha apenas 12 anos. Com 13 anos deu a luz a seu primeiro filho. 
        
        Com a doença do marido, Elza trabalhou como encaixotadora em uma fábrica de sabão no Engenho de Dentro.</p>

        <h3> Início da carreira </h3>

        <p> Em 1953 Elza Soares iniciou sua vida artística ao fazer o seu primeiro teste na Rádio Tupi, no programa de calouros de Ary Barroso, quando conquistou o primeiro lugar.

            No início da carreira, também trabalhou na Orquestra Garam Bailes, como crooner, até 1954. Em 1959 foi contratada para trabalhar na Rádio Vera Cruz. Em 1960, atuou no Festival Nacional da Bossa Nova.

            Três anos mais tarde, Elza foi a representante do Brasil na Copa do mundo no Chile.</p>
        
<h3> Vida amorosa e filhos </h3>

<p> Quando tinha 12 anos de idade, o pai de Elza a obrigou a se casar com Lourdes Antônio Soares, de quem Elza adotou o sobrenome. Dessa relação, nasceu no ano a seguir, João Carlos, que veio a falecer. Com apenas 15 anos, Elza perdeu o seu segundo filho.. O casamento foi abruptamente interrompido com a morte do marido, deixando Elza viúva com apenas 21 anos de idade. Aos 27 anos, Elza já era mãe de cinco crianças (quatro meninos e uma menina). </p>

<h3> Biografia autorizada de Elza Soares </h3>

<p> O jornalista Zeca Camargo é o autor da biografia Elza, lançada em 2018, que foi concebida a partir de 40 horas de depoimentos e com a autorização da cantora. Essa não foi a primeira biografia a contar a história de Elza Soares. Em 1997 foi publicado o livro Cantando Para Não Enlouquecer, de José Louzeiro. </p>

<h3> Documentário sobre Elza Soares </h3>

<p> A diretora Elizabete Martins Campos lançou em 2018 o documentário My Name is Now, onde narra a história da cantora. </p>

<h3> Elza Soares faleceu no Rio de Janeiro, no dia 20 de janeiro de 2022. </h3>

    </div>
  </body>
</html>
