<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
</head>
<body>
<h3> Galeria de fotos - Elza Soares </h3>

<div class="photo-gallery">
    <img src="../../images/elza2.jpg" alt="Elza Soares">
    <img src="../../images/elza3.jpg" alt="Elza Soares">
    <img src="../../images/elza5.png" alt="Elza Soares">
    <img src="../../images/elza6.png" alt="Elza Soares">
    <img src="../../images/elza7.png" alt="Elza Soares">
    <img src="../../images/elza8.png" alt="Elza Soares">
    <img src="../../images/elza9.png" alt="Elza Soares">
    <img src="../../images/elza10.png" alt="Elza Soares">
    <img src="../../images/elza11.png" alt="Elza Soares">
    <img src="../../images/elza12.png" alt="Elza Soares">
    <img src="../../images/elza13.png" alt="Elza Soares">
    <img src="../../images/elza14.png" alt="Elza Soares">
    <img src="../../images/elza15.jpg" alt="Elza Soares">
    <img src="../../images/elza16.jpg" alt="Elza Soares">
</div>
    
</body>
</html>