<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <h3>Maiores sucessos de Elza Soares</h3>

    <p>
      Elza Soares ficou conhecida por uma série de sucessos, os maiores deles
      seguem listados abaixo:
    </p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=TxivAxebqKc">Dentro de cada um</a></li>
      <li><a href="https://www.youtube.com/watch?v=-1fcaBBti4A">Exú nas escolas</a></li>
      <li><a href="https://www.youtube.com/watch?v=KYoXpHD6GfM">Deus há de ser</a></li>
      <li><a href="https://www.youtube.com/watch?v=yktrUMoc1Xw">A Carne</a></li>
      <li><a href="https://www.youtube.com/watch?v=6SWIwW9mg8s">Mulher do Fim do Mundo</a></li>
      <li><a href="https://www.youtube.com/watch?v=_f_4OGKQTa4">Língua</a></li>
      <li><a href="https://www.youtube.com/watch?v=PFBzfCf2Uic">O que se cala</a></li>
      <li><a href="https://www.youtube.com/watch?v=pDK3WZmC8wA">Dindi</a></li>
      <li><a href="https://www.youtube.com/watch?v=-m393EagdSk">Maria da Vila Matilde</a></li>
      <li><a href="https://www.youtube.com/watch?v=-1fcaBBti4A">Banho</a></li>
    </ul>
    <p>
      Em 2000, a emissora BBC, em Londres, deu à Elza o título de A Melhor
      Cantora do Universo.
    </p>
  </body>
</html>
